<div class="jumbotron mt-4 container">
    <h1 class="display-4">
        Notes app nodehs and mongodb
    </h1>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto, nulla!
    </p>
    <hr class="my-4">
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet doloribus necessitatibus, facilis id voluptatum beatae perspiciatis optio aspernatur error cupiditate repellendus laboriosam? Reiciendis nobis dignissimos blanditiis unde minus voluptas voluptatibus atque suscipit hic esse, eius saepe deserunt, excepturi facilis. Totam?
    </p>
    <a href="https://www.twitter.com/yegaston" class="btn btn-primary">@Yegaston</a>
</div>